BG_TASK_CELERY_BEAT_DB_DATASOURCE_BG_TASK="postgresql://postgres:password@localhost:5432/bgtaskdb"
BG_TASK_CELERY_BEAT_DB_DATASOURCE_SR="postgresql://postgres:password@localhost:5432/socialregistrydb"
BG_TASK_CELERY_BEAT_DB_DATASOURCE_PBMS="postgresql://postgres:password@localhost:5432/pbmsdb"


BG_TASK_CELERY_BEAT_CELERY_BROKER_URL=redis://localhost:6379/0
BG_TASK_CELERY_BEAT_CELERY_BACKEND_URL=redis://localhost:6379/0

BG_TASK_CELERY_BEAT_PRODUCER_FREQUENCY=10
BG_TASK_CELERY_BEAT_BATCH_SIZE=2000
