EEE_CELERY_BEAT_DB_DATASOURCE_EEE="postgresql://postgres:password@localhost:5432/eeedb"
EEE_CELERY_BEAT_DB_DATASOURCE_SR="postgresql://postgres:password@localhost:5432/socialregistrydb"
EEE_CELERY_BEAT_DB_DATASOURCE_PBMS="postgresql://postgres:password@localhost:5432/pbmsdb"


EEE_CELERY_BEAT_CELERY_BROKER_URL=redis://localhost:6379/0
EEE_CELERY_BEAT_CELERY_BACKEND_URL=redis://localhost:6379/0

EEE_CELERY_BEAT_PRODUCER_FREQUENCY=10
EEE_CELERY_BEAT_BATCH_SIZE=10000
