# Social Registry Database
PBMS_BENE_PORTAL_API_DB_USERNAME_SR='postgres'
PBMS_BENE_PORTAL_API_DB_PASSWORD_SR='password'
PBMS_BENE_PORTAL_API_DB_HOSTNAME_SR='localhost'
PBMS_BENE_PORTAL_API_DB_PORT_SR='5432'
PBMS_BENE_PORTAL_API_DB_DBNAME_SR='socialregistrydb'

# Background Task Database
PBMS_BENE_PORTAL_API_DB_USERNAME_BG_TASK='postgres'
PBMS_BENE_PORTAL_API_DB_PASSWORD_BG_TASK='password'
PBMS_BENE_PORTAL_API_DB_HOSTNAME_BG_TASK='localhost'
PBMS_BENE_PORTAL_API_DB_PORT_BG_TASK='5432'
PBMS_BENE_PORTAL_API_DB_DBNAME_BG_TASK='bgtaskdb'
