EEE_CELERY_WORKERS_DB_DATASOURCE_EEE= "postgresql://postgres:password@localhost:5432/eeedb"
EEE_CELERY_WORKERS_DB_DATASOURCE_SR= "postgresql://postgres:password@localhost:5432/socialregistrydb"
EEE_CELERY_WORKERS_DB_DATASOURCE_PBMS= "postgresql://postgres:password@localhost:5432/pbmsdb"
EEE_CELERY_WORKERS_DB_DATASOURCE_EEE_ASYNC= "postgresql+asyncpg://postgres:password@localhost:5432/eeedb"

EEE_CELERY_WORKERS_G2P_BRIDGE_DISBURSEMENT_URL= "http://g2p_bridge_disbursement_url"
EEE_CELERY_WORKERS_G2P_BRIDGE_ENEVELOPE_CREATION_URL= "http://g2p_bridge_envelope_creation_url"

EEE_CELERY_WORKERS_CELERY_BROKER_URL=redis://localhost:6379/0
EEE_CELERY_WORKERS_CELERY_BACKEND_URL=redis://localhost:6379/0

EEE_CELERY_WORKERS_BATCH_SIZE=10000
