BG_TASK_CELERY_WORKERS_DB_DATASOURCE_BG_TASK= "postgresql://postgres:password@localhost:5432/bgtaskdb"
BG_TASK_CELERY_WORKERS_DB_DATASOURCE_SR= "postgresql://postgres:password@localhost:5432/socialregistrydb"
BG_TASK_CELERY_WORKERS_DB_DATASOURCE_PBMS= "postgresql://postgres:password@localhost:5432/pbmsdb"
BG_TASK_CELERY_WORKERS_DB_DATASOURCE_BG_TASK_ASYNC= "postgresql+asyncpg://postgres:password@localhost:5432/bgtaskdb"

BG_TASK_CELERY_WORKERS_G2P_BRIDGE_DISBURSEMENT_URL= "http://g2p_bridge_disbursement_url"
BG_TASK_CELERY_WORKERS_G2P_BRIDGE_ENEVELOPE_CREATION_URL= "http://g2p_bridge_envelope_creation_url"

BG_TASK_CELERY_WORKERS_CELERY_BROKER_URL=redis://localhost:6379/0
BG_TASK_CELERY_WORKERS_CELERY_BACKEND_URL=redis://localhost:6379/0

BG_TASK_CELERY_WORKERS_BATCH_SIZE=2000
BG_TASK_CELERY_WORKERS_WORKER_MAX_ATTEMPTS=5

BG_TASK_CELERY_WORKERS_SENDER_ID= "SENDER_ID"
BG_TASK_CELERY_WORKERS_ISSUER= "ISSUER"
BG_TASK_CELERY_WORKERS_AUDIENCE= "AUDIENCE"
BG_TASK_CELERY_WORKERS_PRIVATE_KEY= "PRIVATE_KEY"
