EEE_CELERY_BEAT_DB_DBNAME=pbmsdb
EEE_CELERY_BEAT_DB_USERNAME=postgres
EEE_CELERY_BEAT_DB_PASSWORD=password
EEE_CELERY_BEAT_DB_HOSTNAME=localhost
EEE_CELERY_BEAT_CELERY_BROKER_URL=redis://localhost:6379/0
EEE_CELERY_BEAT_CELERY_BACKEND_URL=redis://localhost:6379/0
EEE_CELERY_BEAT_PRODUCER_FREQUENCY=10
EEE_CELERY_BEAT_BATCH_SIZE=100
