BG_TASK_API_DB_DATASOURCE_BG_TASK="postgresql+asyncpg://postgres:postgres@localhost:5432/bgtaskdb"
BG_TASK_API_DB_DATASOURCE_SR="postgresql+asyncpg://postgres:postgres@localhost:5432/socialregistrydb"
